# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-ssr
build/
bin/
obj/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor/IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mobile / Capacitor / Cordova
/android/app/build/
/android/.gradle/
/android/local.properties
/android/build.gradle.bak
/android/settings.gradle.bak
/android/app/google-services.json
/android/app/src/main/assets/public/
/android/app/src/main/assets/capacitor.config.json
/android/app/src/main/assets/capacitor.plugins.json
/ios/App/App/public/
/ios/App/build/
/www/
capacitor.config.json
capacitor.config.js
capacitor.config.ts.old

# OS Files
Thumbs.db
desktop.ini

# App Binaries
*.apk
*.aab
*.ipa
*.dmg
*.exe
*.app

# Large files
*.zip
*.tar.gz
*.rar

# Vite
*.timestamp-*
